{%  extends 'base.html' %}

{% block title%}{%  endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Введите Ваши данные</h1>
    <form method="post"></form>
        <p>Имя</p>
        <input type="text" name="name" id="name" class="form-control"><br>
        <p>e-mail</p>
        <input type="text" name="email" id="email" class="form-control"><br>
        <p>Номер телефона</p>
        <input type="text" name="phone" id="phone" class="form-control"><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
</div>
{% endblock %}